.header {
  position: relative;
  z-index: 5;
  font-family: $serif-font;
  color: #fff;
  background-color: #000;
  @include rm(1024) {
    background: #0f0f0f;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    @include rm(480) {
      padding: 15px;
    }
    @include rm(768) {
      width: 100%;
    }
    @include rm(1024) {
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
    }
    @include rm(1220) {
      max-width: 1440px;
      width: 100%;
      padding: 0 15px;
    }
  }
  &__logo_wrapper {
    max-width: 240px;
    display: flex;
    align-items: center;
    cursor: default;
    .service & {
      cursor: pointer;
    }
    @include rm(1024) {
      max-width: 250px;
      padding: 5px 0;
    }
    @include rm(1220) {
      max-width: none;
    }
  }
  &__logo {
    &_bear {
      margin-right: 10px;
    }
  }
  &__burger {
    position: relative;
  }

  &__burger_icon {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    top: calc(50% - 15px);

    @include rm(480) {
      right: 15px;
    }
    @include rm(1024) {
      display: none;
    }
    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 20px;
      height: 2px;
      left: 0;
      background: #fff;
      transition: all 0.3s;
    }
    &::before {
      top: calc(50% + 4px);
    }
    &::after {
      top: calc(50% - 4px);
    }
  }

  &__burger_wrapper {
    position: fixed;
    width: 100vw;
    height: 0;
    top: -1000px;
    right: 0;
    font-size: 16px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
    @include rm(480) {
      font-size: 18px;
    }
    @include rm(768) {
      width: 50vw;
      height: auto;
      top: -10000px;
    }
    @include rm(1024) {
      position: relative;
      width: auto;
      height: 100%;
      display: flex;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      font-size: 14px;
      overflow: visible ;
      opacity: 1;
    }
    @include rm(1220) {
      font-size: 18px;
    }
  }
  &__nav {
    margin: auto auto 10px;
    @include rm(1024) {
      display: flex;
      margin: 0 15px 0 0;
    }

    .service & {
      display: none !important;
    }
  }

  &__nav_item {
    @include rm(1024) {
      display: flex;
      align-items: center;
      &:hover,
      &:focus {
        background: #1f1f1f;
      }
    }

    &:not(:last-child) {
      margin-bottom: 15px;
      @include rm(1024) {
        margin: 0;
      }
    }
    a {
      display: block;
      min-width: 200px;
      width: 100%;
      padding: 7px;
      margin: 0 auto;
      color: #fff;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      @include rm(480) {
        min-width: 320px;
      }
      @include rm(1024) {
        min-width: auto;
        padding: 15px 10px;
        white-space: nowrap;
      }
      @include rm(1220) {
        padding: 15px;
      }
    }
  }


  &__phones {
    margin: auto auto 30px;
    @include rm(1024) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto 15px auto 0;
      .service & {
        flex-direction: row;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  &__phone {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 10px;
      @include rm(1024) {
        margin: 0;
      }
    }
    a {
      display: inline-block;
      width: 100%;
      padding: 5px;
      @include rm(1024) {
        padding: 2px 5px;
        white-space: nowrap;
        .service & {
          margin-right: 10px;
        }
      }
    }

  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100px;
    width: 50%;
    margin: 0 auto 20px;
    @include rm(1024) {
      margin: 0;
    }
    a {
      &:not(:last-child) {
        margin-right: 5px;
      }
      @include rm(1024) {
        padding: 5px;
      }
    }
  }

  &__language {
    display: flex;
    margin: 0 auto auto;
    @include rm(1024) {
      margin: auto auto auto 20px;
    }

    button {
      display: inline;
      color: #fff;
      background: none;
      border: none;
      text-transform: uppercase;
      outline: none;
      cursor: pointer;

      &:hover,
      &:focus {
        color: #bb1d00;
        text-decoration: underline;
      }
    }

    &_active {
      text-decoration: underline;
    }
  }


  &__burger_active {
    @include r(1023) {
      background: #000;
      .header__burger_icon {
        // position: fixed;
        top: 10px;
        right: 0px;
        z-index: 2;

        @include rm(480) {
          right: 15px;
          top: 20px;
        }
        @include rm(1024) {
          display: none;
        }
        &::before {
          top: 50%;
          transform: rotate(45deg);
          transition: all 0.3s;
        }
        &::after {
          top: 50%;
          transform: rotate(-45deg);
          transition: all 0.3s;
        }
      }
      .header__burger_wrapper {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        padding: 10px;
        background: url(../img/bg_wall_mob.jpg) no-repeat center center / cover;
        overflow: scroll;
        opacity: 1;
        transition: all 0.3s;
        @include rm(480) {
          background: url(../img/bg_wall.jpg) no-repeat center center / cover;
        }
        @include rm(768) {
          width: 50vw;
        }
        &::before {
          position: fixed;
          content: '';
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.5);
        }
        & > * {
          position: relative;
          z-index: 2;
        }
      }
    }
  }
}
