.main {
  position: relative;
  // min-height: 600px;
  @include rm(480) {
    // min-height: 800px;
  }
  @include rm(768) {
    // min-height: 600px;
  }
  @include rm(1220) {
    // min-height: 700px;
  }
  &__bg_img_wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: grayscale(40%);
    background: url(../img/bg_main_mob.jpg) no-repeat center center / cover;
    @include rm(480) {
      background: url(../img/bg_main_tab.jpg) no-repeat center center / cover;
    }
    @include rm(768) {
      background: url(../img/bg_main.jpg) no-repeat center center / cover;
    }
  }

  &__title {
    position: absolute;
    z-index: 2;
    // top: 400px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    text-shadow: 0 0 5px #bb1d00;
    text-align: center;
    text-transform: uppercase;
    @include rm(480) {
      // top: 600px;
      bottom: 100px;
    }
    // @include rm(768) {
    //   top: 400px;
    // }
    @include rm(1024) {
      font-size: 22px;
      font-weight: 300;
      white-space: nowrap;
    }
    @include rm(1220) {
      font-size: 26px;
    }

    br {
      @include rm(1024) {
        display: none;
      }
    }
  }

  &__bg_video {
    position: relative;
    // position: absolute;
    // z-index: 1;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    @include rm(1220) {
      max-width: 1280px;
      height: 720px;
      padding: 0;
      margin: 0 auto;
    }
  }
  &__video {
    position: absolute;
    width: 100%;
    height: 100%;
    // opacity: 0;
    // transition: all 0.5s;
    // &--play {
    //   opacity: 1;
    //   transition: all 0.5s;
    // }
  }
  // &__video_logo_wrapper {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   display: flex;
  //   align-items: center;
  //   flex-direction: column;
  //   justify-content: center;
  // }
  // &__video_logo_bear,
  // &__video_logo_logo {
  //   max-width: 48%;
  //   max-height: 48%;
  // }
}