.price {
  min-height: 640px;
  padding: 25px 0;
  background: url(../img/bg_price_mob.jpg) no-repeat center bottom / cover;
  @include rm(480) {
    padding: 30px 0;
  }
  @include rm(640) {
    padding: 35px 0;
  }
  @include rm(768) {
    padding: 40px 0;
  }
  @include rm(1024) {
    padding: 50px 0;
    background: url(../img/bg_price.jpg) no-repeat center bottom / cover;
  }

  &__title {
    margin-bottom: 30px;
    padding-bottom: 0 !important;

    &:after {
      content: none !important;
    }
  }
  &__toggle_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    button {
      width: 112px;
      height: 30px;
      font-family: $title-font;
      font-weight: 700;
      text-transform: uppercase;
      border: none;
      background-color: #999999;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      transition: all 0.2s;

      @include rm(1024) {
        width: 170px;
        height: 45px;
        font-size: 20px;
      }

      &:hover {
        transform: scaleY(1.08);
        transition: all 0.2s;
      }
    }

    .active {
      background-color: #FF914D;
      box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.25), inset -3px -3px 4px rgba(0, 0, 0, 0.25);
    }
  }
  &__list {
    padding: 0 5px;
    @include rm(640) {
      padding: 0 10px;
    }
    @include rm(1024) {
      columns: 2;
      padding: 0;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 14px;

    @include rm(480) {
      font-size: 16px;
    }
    @include rm(640) {
      font-size: 18px;
      // font-weight: 400;
    }
    @include rm(1024) {
      padding: 0 10px;
      font-size: 22px;
    }
    @include rm(1220) {
      padding: 0 20px;
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    margin-right: 5px;

    @include rm(640) {
      width: 35px;
      height: 35px;
      margin-right: 10px;
    }
    @include rm(1024) {
      width: 60px;
      height: 60px;
      margin-right: 25px;
    }


    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__link_wrapper {
    display: flex;
    align-items: center;
    margin-right: auto;

    @include r(359) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include rm(1024) {
      flex-direction: column;
      align-items: flex-start;
    }

    a {
      text-decoration: none;
      text-transform: lowercase;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
  &__name {
    margin-right: 5px;
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s;
    &:hover,
    &:active,
    &:focus {
      //color: #fc9859;
      transform: scale(1.03);
      transition: all 0.3s;
    }
    @include rm(480) {
      margin-right: 10px;
      font-size: 18px;
    }
    @include rm(640) {
      margin-right: 15px;
      font-size: 25px;
    }
    @include rm(1024) {
      margin: 0;
    }
    @include rm(1220) {
      font-size: 28px;
    }
  }

  &__service {
    color: #FF914D;

    &:hover,
    &:active,
    &:focus {
      color: #ff774d;
    }
  }

  &__currency,
  &__price {
    font-weight: 700;
    @include rm(640) {
      font-size: 22px;
    }
    @include rm(1024) {
      font-size: 24px;
    }
    @include rm(1220) {
      font-size: 30px;
    }
  }
}
