extends settings/layout_service

prepend html
  - const lang = "ru";
  - const classBody = "service";
  - const serviceName = {ua: "Black Mask", ru: "Black Mask"};

prepend head
  - const pageTitle = "Black Mask";
  - const themeColor = "#fff";

append head

append content
  include components/svg.html
  include components/header
  include components/btn
  include components/breadcrumbs

  .service
    .container.service__container
      .service__wrapper
        h1.service__title(data-lang-ua='Black Mask для чоловіків' data-lang-ru='Black Mask для мужчин')
        .service__wrapper_article
          img.service__img(src="img/service_10.jpg", alt="Photo")
          p.service__text_article(data-lang-ua='Очищаюча чорна маска оздоровлює епідерміс і допомагає мати привабливий зовнішній вигляд. Black mask (чорна маска) має спеціальну формулу, яка відкриває пори і добре очищає їх. Чорна маска видаляє весь бруд з пір і допоможе позбутися від чорних цяток. Деревне вугілля, що входить до складу працює за принципом магніту, притягаючи і прибираючи навіть найглибші забруднення. Black mask освіжить ваше обличчя.' data-lang-ru='Очищающая черная маска оздоравливает эпидермис и помогает иметь привлекательный и достойный внешний вид. Black mask (черная маска) имеет специальную формулу, которая открывает поры и хорошо очищает их. Черная маска удалит всю грязь из пор и поможет избавиться от черных точек. Древесный уголь, входящий в состав работает по принципу магнита, притягивая и убирая даже самые глубокие загрязнения. Black mask освежит ваше лицо. ')
        .service__wrapper_list
          h2.service__title_list(data-lang-ua='Як проходить процедура Black Mask у барбершопі?' data-lang-ru='Как проходит процедура Black Mask для лица в барбершопе?')
          p.service__text(data-lang-ua="Процедура досить проста і безболісна. Так само вона не займає багато часу, 30-40 хвилин вашого часу і ваша шкіра буде виглядати набагато краще! Black mask часто поєднується з іншими послугами, щоб ви змогли заощадити час, маску можна робити під час стрижки або корекції бороди." data-lang-ru="Процедура довольно простая и безболезненная. Так же она не занимает много времени, 30-40 минут вашего времени и ваша кожа будет выглядеть гораздо лучше! Black mask в Baribal барбершопе часто совмещается с другими услугами,  чтобы вы смогли сэкономить время, маску можно делать во время стрижки или коррекции бороды.")
          ul.service__list
            li.service__item(data-lang-ua="Майстер розпарює шкіру;" data-lang-ru="Мастер распаривает кожу;")
            li.service__item(data-lang-ua='На шкіру наноситься скраб масажними рухами, для очищення і відлущування відмерлих клітин;' data-lang-ru='На кожу наносится скраб массажными движениями, для очищения и отшелушивания омертвевших клеток;')
            li.service__item(data-lang-ua='Майстер змиває скраб з поверхні шкіри;' data-lang-ru='Мастер смывает скраб с поверхности кожи;')
            li.service__item(data-lang-ua='Барбер наносить маску на шкіру обличчя, почекати до повного висихання.' data-lang-ru='Барбер наносит маску на кожу лица, подождать до полного высыхания.')


        p.service__text(data-lang-ua="Чорна маска складається з інгредієнтів природного походження, що дозволяє відновити і збалансувати всі процеси в верхньому шарі шкіри. Завдяки цьому з'являється відчуття, що шкіра не тільки стала ідеально чистою, але й упругою і свіжою." data-lang-ru="Черная маска состоит из ингредиентов природного происхождения, что позволяет восстановить и сбалансировать все процессы в верхнем слое кожи. Благодаря этому появляется ощущение, что кожа не только стала идеально чистой, но еще и упруже и свежее.")

        p.service__text(data-lang-ua='Чорна маска для обличчя бореться з чорними цятками, добре звужує пори; скорочує кількість запалень і вугрів, надає антибактеріальний ефект, зменшує виділення себума, покращує колір обличчя, збільшує обмінні процеси в шкірі.' data-lang-ru='Черная маска для лица борется с черными точками, хорошо сужает поры; сокращает количество воспалений и угрей, оказывает антибактериальный эффект, уменьшает выделение себума, улучшает цвет лица, увеличивает обменные процессы в коже.')

        p.service__text(data-lang-ua='Чорна маска допоможе зняти зайву набряклість, виведе шлаки і токсини, зволожить шкіру вашого обличчя. Барбери Baribal barbershop рекомендують робити послугу не рідше ніж 1 раз в 2-3 тижні, для підтримки свіжості обличчя.' data-lang-ru='Черная маска поможет снять излишнюю отечность, выведет шлаки и токсины, увлажнит кожу вашего лица. Барберы Baribal barbershop рекомендуют делать услугу не реже чем 1 раз в 2-3 недели , для поддержки свежести лица.')

        p.service__text(data-lang-ua='Відвідати наш барбершоп ви можете за адресою Проспект Миколи Бажана 1а, ЖК "Зарічний". Барбершоп Baribal знаходиться поруч з метро Славутич.' data-lang-ru='Посетить наш барбершоп вы можете по адресу Проспект Николая Бажана 1а, ЖК “Заречный”. Барбершоп Baribal находится рядом с метро Славутич.')



  include components/contacs
  script(src="js/service.js")
