extends settings/layout

prepend html
  - const lang = "ru";
  - const classBody = "baribal";

prepend head
  - const pageTitle = "BARIBAL Барбершоп";
  - const themeColor = "#000";

append head

append content
  include components/svg.html
  include components/header
  include components/btn
  include components/main
  include components/aboutus
  include components/price
  include components/masters
  include components/certificate
  include components/gallery
  include components/contacs

  script(src="js/jquery.min.js")
  script(src="js/slick.min.js")
  script(src="js/main.js")
