extends settings/layout_service

prepend html
  - const lang = "ru";
  - const classBody = "service";
  - const serviceName = {ua: "Камуфлювання сивини", ru: "Камуфлирование седины"};

prepend head
  - const pageTitle = "Камуфлирование седины";
  - const themeColor = "#fff";

append head

append content
  include components/svg.html
  include components/header
  include components/btn
  include components/breadcrumbs

  .service
    .container.service__container
      .service__wrapper
        h1.service__title(data-lang-ua!=serviceName.ua data-lang-ru!=serviceName.ru)
        .service__wrapper_article
          img.service__img(src="img/service_9.jpg", alt="Photo")
          p.service__text_article(data-lang-ua='Камуфлювання сивини - спеціальна барберская техніка, спрямована на надання рівномірного тону волоссю. Для цієї послуги наші майстри використовують професійні засоби, які не пересушують шкіру, не викликають подразнень або інших небажаних реакцій. Фарба глибоко проникає в структуру волосся, забезпечуючи стійкий гарний відтінок.' data-lang-ru='Камуфлирование седины - специальная барберская техника, направленная на придание равномерного тона волосам. Для этой услуги наши мастера используют профессиональные средства, которые не пересушивают кожу, не вызывают раздражений или других нежелательных реакций. Краска глубоко проникает в структуру волоса, обеспечивая стойкий красивый оттенок. ')

        .service__wrapper_list
          h2.service__title_list(data-lang-ua='Що входить в послугу "Камуфлювання сивини"?' data-lang-ru='Что входит в услугу "Камуфлирование седины" ?')
          ul.service__list
            li.service__item(data-lang-ua='Ваша послуга починається з констультаціі. Визначаємо ваші побажання.' data-lang-ru='Ваша услуга начинается с консультации. Выясняем предпочтения.')
            li.service__item(data-lang-ua='Миття голови спеціальним шампунем.' data-lang-ru='Мытьё головы специальным шампунем.')
            li.service__item(data-lang-ua='Нанесення фарбувального пігменту, потрібного тону.' data-lang-ru='Нанесение красящего пигмента нужного тона.')
            li.service__item(data-lang-ua='Сушка і укладання.' data-lang-ru='Сушка и укладка.')

        p.service__text(data-lang-ua='У підсумку наш гість отримує природний відтінок волосся. З плином часу фарбувальний пігмент поступово вимивається. Тому ефекту відросших білих коренів не виникне. На закамуфльованих прядках волосся залишиться природне приглушення кольору сивого волосся.' data-lang-ru='В итоге наш гость получает естественный оттенок волос. По прошествии времени красящий пигмент постепенно вымывается. Поэтому эффекта отросших белых корней не возникнет. На закамуфлированных прядках останется естественное приглушение цвета седых волос.')

        p.service__text(data-lang-ua='<a href="index.html">Baribal</a> - барбершоп, в якому тільки якісні <a href="muzhskaya_strizhka.html">чоловічі стрижки</a>, <a href="ukladka.html">укладки</a>, <a href="detskaya_strizhka.html">дитячі стрижки</a>, <a href="strizhka_borody.html">стрижки бороди</a> і королівське гоління від кращих барберів. Наші майстри використовують найкращу чоловічу косметику, яку також можна придбати в барбершопі. Від класичних технік до сучасних чоловічих зачісок, наші майстри володіють різними техніками і з легкістю підберуть найкращий варіант для вас.' data-lang-ru='<a href="index.html">Baribal</a> - барбершоп, в котором только качественные <a href="muzhskaya_strizhka.html">мужские стрижки</a>, <a href="ukladka.html">укладки</a>, <a href="detskaya_strizhka.html">детские стрижки</a>, <a href="strizhka_borody.html">стрижки бороды</a>, королевское бритье от лучших барберов. Наши мастера используют лучшую мужскую косметику, которую также можно приобрести в барбершопе. От классических техник до современных мужских причесок, наши мастера владеют разными техниками и с легкостью подберут лучший вариант для вас. ')

        p.service__text(data-lang-ua='Барбери <b>Baribal barbershop</b> рекомендують відвідувати барбершоп не менше ніж 1 раз у 2-3 тижні, для підтримки потрібного тону волосся.' data-lang-ru='Барберы <b>Baribal barbershop</b> рекомендуют посещать барбершоп не реже чем 1 раз в 2-3 недели , для поддержки нужного тона волос.')

        p.service__text(data-lang-ua='Відвідати наш барбершоп ви можете за адресою Проспект Миколи Бажана 1а, ЖК "Зарічний". Барбершоп Baribal знаходиться поруч з метро Славутич.' data-lang-ru='Посетить наш барбершоп вы можете по адресу Проспект Николая Бажана 1а, ЖК “Заречный”. Барбершоп Baribal находится рядом с метро Славутич.')



  include components/contacs
  script(src="js/service.js")
