extends settings/layout_service

prepend html
  - const lang = "ru";
  - const classBody = "service";
  - const serviceName = {ua: "Батько + син", ru: "Отец + сын"};

prepend head
  - const pageTitle = "Отец + сын";
  - const themeColor = "#fff";

append head

append content
  include components/svg.html
  include components/header
  include components/btn
  include components/breadcrumbs

  .service
    .container.service__container
      .service__wrapper
        h1.service__title(data-lang-ua!=serviceName.ua data-lang-ru!=serviceName.ru)
        .service__wrapper_article
          img.service__img(src="img/service_7.jpg", alt="Photo")
          p.service__text_article(data-lang-ua='Кожна перукарня послуга починається з детальної консультації, яка допомагає вашому барберу надати послуги на вищому рівні і відповідно до ваших побажань. <br> Як бути, якщо не знаєте, чого хочете? Для цього потрібно тільки поспілкуватися з нашими майстрами, щоб дізнатися, який стиль краще всього підійде до форми вашого обличчя і вашої індивідуальності.' data-lang-ru='Каждая парикмахерская услуга начинается с детальной консультации, которая помогает вашему барберу предоставить услуги на высшем уровне и в соответствии с вашими пожеланиями. <br> Как быть, если не знаете, чего хотите? Для этого нужно только пообщаться с нашими мастерами, чтобы узнать, какой стиль лучше всего подойдет к форме Вашего лица и Вашей индивидуальности.')

        .service__wrapper_list
          h2.service__title_list(data-lang-ua='Що входить в послугу "Батько + син"?' data-lang-ru='Что входит в услугу "Отец + сын" ?')
          ul.service__list
            li.service__item(data-lang-ua='Ваша послуга починається з консультаціі.Визначаємо переваги по довжині і формі стрижки.' data-lang-ru='Ваша услуга начинается с консультации. Выясняем предпочтения по длине и форме стрижки.')
            li.service__item(data-lang-ua='Далі  барбер миє волосся спеціальним шампунем і поживним кондиціонером.' data-lang-ru='Далее ваш барбер моет волосы очищающим шампунем и питательным кондиционером.')
            li.service__item(data-lang-ua='За допомогою професійних машинок і ножиць майстер надає форму.' data-lang-ru='С помощью профессиональных машинок и ножниц мастер придает форму стрижки.')
            li.service__item(data-lang-ua='Ще одне миття волосся, в залежності від ваших побажань і необхідності.' data-lang-ru='Еще одно мытье волос, в зависимости от ваших пожеланий и необходимости.')
            li.service__item(data-lang-ua='І нарешті, майстер робить укладку, обравши необхідний стайлінговий засіб,  щоб надати і закріпити форму для завершення повного образу.' data-lang-ru='И наконец, мастер делает укладку, выбрав нужное укладочное средство, чтобы придать и закрепить форму для завершения полного образа.')

        p.service__text(data-lang-ua='Якщо ви бажаєте відвідати наш барбершоп разом з сином, для вас є послуга з особливо вигідним тарифом. Ми дуже цінуємо сімейні традиції. Послуга "Батько + син" дозволяє не переживати про те, куди піти підстригтися, щоб була можливість зробити дитячу та чоловічу стрижку, а то і дві чоловічі стрижки, адже в цій послузі у <a href="index.html">Baribal</a> немає обмежень за віком!' data-lang-ru='Если вы пожелаете посетить наш барбершоп вместе с сыном,  для вас есть услуга с особо выгодным тарифом. Мы очень ценим фамильные традиции. Услуга “Отец + сын” позволяет не думать о том, куда пойти подстричься, чтобы была возможность сделать детскую и мужскую стрижку, а то и две мужские стрижки, ведь в данной услуге в <a href="index.html">Baribal</a> нет ограничений по возрасту!')

        p.service__text(data-lang-ua='<b>Baribal</b> - барбершоп, в якому тільки якісні <a href="muzhskaya_strizhka.html">чоловічі стрижки</a>, <a href="ukladka.html">укладки</a>, <a href="detskaya_strizhka.html">дитячі стрижки</a>, <a href="strizhka_borody.html">стрижки бороди</a> і королівське гоління від кращих барберів. Наші майстри використовують найкращу чоловічу косметику, яку також можна придбати в барбершопі. Від класичних технік до сучасних чоловічих зачісок, наші майстри володіють різними техніками і з легкістю підберуть найкращий варіант для вас.' data-lang-ru='<b>Baribal</b> - барбершоп, в котором только качественные <a href="muzhskaya_strizhka.html">мужские стрижки</a>, <a href="ukladka.html">укладки</a>, <a href="detskaya_strizhka.html">детские стрижки</a>, <a href="strizhka_borody.html">стрижки бороды</a>, королевское бритье от лучших барберов. Наши мастера используют лучшую мужскую косметику, которую также можно приобрести в барбершопе. От классических техник до современных мужских причесок, наши мастера владеют разными техниками и с легкостью подберут лучший вариант для вас. ')

        p.service__text(data-lang-ua='Відвідати наш барбершоп ви можете за адресою Проспект Миколи Бажана 1а, ЖК "Зарічний". Барбершоп Baribal знаходиться поруч з метро Славутич.' data-lang-ru='Посетить наш барбершоп вы можете по адресу Проспект Николая Бажана 1а, ЖК “Заречный”. Барбершоп Baribal находится рядом с метро Славутич.')



  include components/contacs
  script(src="js/service.js")
