doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title BARIBAL
    link(rel="icon", href="img/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/style.css")

  body.page404
    .page404__container
      p.page404__text Страница не найдена. <br> Перейдите на&nbsp;
        a.page404__link(href="index.html") главную
        | .
      .page404__number 404
      a(href="index.html")
        img.page404__logo(src="img/logo_name_black.png", alt="Logo")

