extends settings/layout_service

prepend html
  - const lang = "ru";
  - const classBody = "service";
  - const serviceName = {ua: "Стрижка під насадку", ru: "Стрижка машинкой"};

prepend head
  - const pageTitle = "Стрижка машинкой";
  - const themeColor = "#fff";

append head

append content
  include components/svg.html
  include components/header
  include components/btn
  include components/breadcrumbs

  .service
    .container.service__container
      .service__wrapper
        h1.service__title(data-lang-ua!=serviceName.ua data-lang-ru!=serviceName.ru)

        .service__wrapper_article
          img.service__img(src="img/service_2.jpg", alt="Photo")
          p.service__text_article(data-lang-ua="Кожна перукарська послуга починається з детальної консультації, яка допомагає вашому барберу надати послуги на вищому рівні і відповідно до ваших побажань. <br>Як бути, якщо не знаєте, чого хочете? Наші майстри обов'язково вас проконсультують і дадуть рекомендації по зачісці з урахуванням форми голови, типу волосся і вашого стилю." data-lang-ru='Каждая парикмахерская услуга начинается с детальной консультации, которая помогает вашему барберу предоставить услуги на высшем уровне и в соответствии с вашими пожеланиями. <br>Как быть, если не знаете, чего хотите? Наши мастера обязательно вас проконсультируют и дадут рекомендации по прическе с учетом формы головы , типа волос и вашего стиля.')

        .service__wrapper_list
          h2.service__title_list(data-lang-ua='Що входить у послугу "Стрижка під насадку"?' data-lang-ru='Что входит в услугу "Стрижка машинкой" ?')
          ul.service__list
            li.service__item(data-lang-ua="Ваша послуга починається з консультації. З'ясовуємо переваги по довжині і формі стрижки." data-lang-ru='Ваша услуга начинается с консультации. Выясняем предпочтения по длине и форме стрижки.')
            li.service__item(data-lang-ua='Далі ваш барбер миє волосся спеціальним шампунем.' data-lang-ru='Далее ваш барбер моет волосы специальным шампунем.')
            li.service__item(data-lang-ua='За допомогою професійних машинок майстер надає форму, використовуючи 2 насадки.' data-lang-ru='С помощью профессиональных машинок мастер придает форму, используя 2 насадки.')
            li.service__item(data-lang-ua='Ще одне миття, щоб прибрати зайве волосся.' data-lang-ru='Еще одно мытье волос, чтобы убрать лишние волосы.')
            li.service__item(data-lang-ua='Сушка волосся.' data-lang-ru='Сушка волос.')


        p.service__text(data-lang-ua="При роботі барбери враховують форму голови, густоту волосся, а в першу чергу - ваші побажання! Коротка <a href='service_1.html'>чоловіча стрижка</a> дуже практична і не вимагає особливого догляду, а також немає необхідності в укладанні, але регулярне оновлення - обов'язково, якщо не оновлювати стрижку в належний час, з ростом волосся зачіска почне втрачати форму і перестане виглядати охайно, тому двері <b>Baribal барбершопу</b> завжди відкриті для повторного візиту." data-lang-ru='При работе барберы учитывают форму головы, густоту волос, а в первую очередь - ваши пожелания! Короткая <a href="service_1.html">мужская стрижка</a> весьма практична и не требует особого ухода ,а также нет необходимости в укладке, но регулярного обновления – обязательно, если не обновлять стрижку в положенное время, с ростом волос прическа начнет терять форму и перестанет выглядеть аккуратно, поэтому двери <b>Baribal барбершопа</b> всегда открыты для повторного визита.')

        p.service__text(data-lang-ua='<a href="index.html">Baribal</a> - барбершоп, в якому тільки якісні чоловічі стрижки, укладки, <a href="service_3.html">дитячі стрижки</a>, стрижки бороди і королівське гоління від кращих барберів. Наші майстри використовують найкращу чоловічу косметику, яку також можна придбати у барбершопі. Від класичних технік до сучасних чоловічих зачісок, наші майстри володіють різними техніками і з легкістю підберуть найкращий варіант для вас. Трохи догляду - це все, що вам потрібно, щоб відчувати себе впевнено!' data-lang-ru='<a href="index.html">Baribal</a> - барбершоп, в котором только качественные мужские стрижки, укладки, <a href="service_3.html">детские стрижки</a>, стрижки бороды и королевское бритье от лучших барберов. Наши мастера используют лучшую мужскую косметику, которую также можно приобрести в барбершопе. От классических техник до современных мужских причесок, наши мастера владеют разными техниками и с легкостью подберут лучший вариант для вас. Немного ухода - это все, что вам нужно, чтобы чувствовать себя уверенно!')

        p.service__text(data-lang-ua='Барбери <b>Baribal barbershop</b> рекомендують відвідувати барбершоп не рідше ніж раз у 2-3 тижні, для підтримки охайності стрижки машинкою і її форми' data-lang-ru='Барберы <b>Baribal barbershop</b> рекомендуют посещать барбершоп не реже чем раз в 2-3 недели, для поддержки аккуратности стрижки машинкой и ее формы.')

        p.service__text(data-lang-ua='Відвідати наш барбершоп ви можете за адресою Проспект Миколи Бажана 1а, ЖК "Зарічний". Барбершоп Baribal знаходиться поруч з метро Славутич.' data-lang-ru='Посетить наш барбершоп вы можете по адресу Проспект Николая Бажана 1а, ЖК “Заречный”. Барбершоп Baribal находится рядом с метро Славутич.')



  include components/contacs
  script(src="js/service.js")
