extends settings/layout_service

prepend html
  - const lang = "ru";
  - const classBody = "service";
  - const serviceName = {ua: "Укладка волосся", ru: "Укладка"};

prepend head
  - const pageTitle = "Укладка";
  - const themeColor = "#fff";

append head

append content
  include components/svg.html
  include components/header
  include components/btn
  include components/breadcrumbs

  .service
    .container.service__container
      .service__wrapper
        h1.service__title(data-lang-ua!=serviceName.ua data-lang-ru!=serviceName.ru)
        .service__wrapper_article
          img.service__img(src="img/service_8.jpg", alt="Photo")
          p.service__text_article(data-lang-ua='Тільки хорошої стрижки для досягнення необхідного ефекту недостатньо. Правильно підібрана чоловіча укладка здатна кардинально змінити образ в кращу сторону, приховати недоліки і підкреслити достоїнства. Також дуже важливу роль грає підібраний стайлінговий засіб.' data-lang-ru='Только хорошей стрижки для достижения необходимого эффекта недостаточно. Правильно подобранная мужская укладка способна кардинально поменять образ в лучшую сторону, скрыть недостатки и подчеркнуть достоинства. Также очень важную роль играет подобранное стайлинговое средство.')

        .service__wrapper_list
          h2.service__title_list(data-lang-ua='Що входить в послугу "Укладка"?' data-lang-ru='Что входит в услугу "Укладка" ?')
          ul.service__list
            li.service__item(data-lang-ua='Миття голови спеціальним шампунем.' data-lang-ru='Мытьё головы специальным шампунем.')
            li.service__item(data-lang-ua='Сушка волосся.' data-lang-ru='Сушка волос.')
            li.service__item(data-lang-ua='Стильна укладка за допомогою професійних засобів з чоловічої лінійки.' data-lang-ru='Стильная укладка при помощи профессиональных средств из мужской линейки.')

        p.service__text(data-lang-ua='Укладка чоловічого волосся теж вимагає певної майстерності. Не останню роль при цьому відіграє правильний вибір стайлінгу: воску, пасти, гелю, пудри, глини, лаку або бриоліну.' data-lang-ru='Укладка мужских волос тоже требует определенного мастерства. Не последнюю роль при этом играет правильный выбор стайлингового средства: воска, пасты, геля, пудры, глины, лака или бриолина. ')

        p.service__text(data-lang-ua='<a href="index.html">Baribal</a> - барбершоп, в якому тільки якісні <a href="muzhskaya_strizhka.html">чоловічі стрижки</a>, укладки, <a href="detskaya_strizhka.html">дитячі стрижки</a>, <a href="strizhka_borody.html">стрижки бороди</a> і королівське гоління від кращих барберів. Наші майстри використовують кращу чоловічу косметику, яку також можна придбати у барбершопі. Від класичних технік до сучасних чоловічих зачісок, наші майстри володіють різними техніками і з легкістю підберуть найкращий варіант для вас.' data-lang-ru='<a href="index.html">Baribal</a> - барбершоп, в котором только качественные <a href="muzhskaya_strizhka.html">мужские стрижки</a>, укладки, <a href="detskaya_strizhka.html">детские стрижки</a>, <a href="strizhka_borody.html">стрижки бороды</a> и королевское бритье от лучших барберов. Наши мастера используют лучшую мужскую косметику, которую также можно приобрести в барбершопе. От классических техник до современных мужских причесок, наши мастера владеют разными техниками и с легкостью подберут лучший вариант для вас. ')

        p.service__text(data-lang-ua='Відвідати наш барбершоп ви можете за адресою Проспект Миколи Бажана 1а, ЖК "Зарічний". Барбершоп Baribal знаходиться поруч з метро Славутич.' data-lang-ru='Посетить наш барбершоп вы можете по адресу Проспект Николая Бажана 1а, ЖК “Заречный”. Барбершоп Baribal находится рядом с метро Славутич.')



  include components/contacs
  script(src="js/service.js")
