section.aboutus#aboutus
  .aboutus__container.container
    .aboutus__img_wrapper
      picture
        source(media="(max-width: 768px)", srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
        img.aboutus__img(src="img/aboutus_img.jpg", alt="Image")
    .aboutus__text_wrapper
      h2.aboutus__title.title О нас 
      picture
        source(media="(max-width: 768px)", srcset="img/aboutus_img_mob.jpg")
        img.aboutus__img(src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7", alt="Image")
      p.aboutus__text Для современного мира курс на социально-ориентированный национальный проект создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса стандартных подходов! Предварительные выводы неутешительны: начало повседневной работы по формированию позиции позволяет оценить значение кластеризации усилий. Не следует, однако, забывать, что высокое качество позиционных исследований играет важную роль в формировании стандартных подходов.
        br
        | Разнообразный и богатый опыт говорит нам, что постоянный количественный рост и сфера нашей активности создаёт предпосылки для поставленных обществом задач. Противоположная точка зрения подразумевает, что некоторые особенности внутренней политики и по сей день остаются уделом либералов, которые жаждут быть обнародованы. Также как глубокий уровень погружения предоставляет широкие возможности для новых принципов формирования материально-технической и кадровой базы.
      a.aboutus__btn.btn(href="") ЗАПИСАТЬСЯ