section.aboutus#aboutus
  .aboutus__container.container
    .aboutus__img_wrapper
      picture
        source(media="(max-width: 1023px)", srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
        img.aboutus__img(src="img/aboutus_img.jpg", alt="Image")
    .aboutus__text_wrapper
      h2.aboutus__title.title(id="aboutUsTitle") О нас
      picture
        source(media="(max-width: 1023px)", srcset="img/aboutus_img_mob.jpg")
        img.aboutus__img(src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7", alt="Image")
      p.aboutus__text(id="aboutUsText") Baribal Barbershop - это не просто стильное пространство для настоящих мужчин, а место в котором ценят твою уникальность! Мы не просто удивляем качеством , а вводим это в привычку, так как наша команда - профессионалы с большим опытом.  Наши барберы подберут наиболее подходящий образ для Вас, учитывая все пожелания, добавив в него стиль и уверенность в себе. В Baribal Barbershop используют только дорогую и проффесиональную косметику, которую можно приобрести у нас в заведении.
      a.aboutus__btn.btn(href="https://n447728.yclients.com/company:424409" target="_blank" id="aboutUsBtn") ЗАПИСАТЬСЯ
