section.certificate#certificate
  .certificate__container.container
    h2.certificate__title.title(id="certificateTitle") Подарочный сертификат
    .certificate__wrapper
      picture
        source(media="(max-width: 1023px)", srcset="img/certificate_mob.webp" type="image/webp")
        source(media="(max-width: 1023px)", srcset="img/certificate_mob.png")
        source(srcset="img/certificate.webp" type="image/webp")
        img.certificate__img(src="img/certificate.png", alt="Certificate")

      .certificate__wrapper_text
        h3.certificate__subtitle(id="certificateSubtitle") Подарочный сертификат на любую услугу в барбершопе Baribal в Киеве
        p.certificate__text(id="certificateText") Хотите сделать подарок настоящему мужчине? Baribal барбершоп поможет вам выбрать идеальный подарок! В Baribal есть возможность приобрести подарочный сертификат в барбербершоп в Киеве на любую услугу. Подарочный сертификат в барбершоп – отличный вариант подарка друзьям, родственникам или коллегам по любому поводу. Не всегда удается угадать желание человека, а вот выглядеть  ухоженно хотят все. Поэтому сертификат в барбешоп будет как нельзя кстати.
        a.certificate__btn.btn(href="certificate.html" id="certificateBtn") ПОДРОБНЕЕ
