section.contacs
  .contacs__container
    .contacs__wrapper
      .contacs__wrapper_left
        h2.contacs__title.title контакты
        .contacs__wrapper.text
          p.contacs__adress Проспект Николая бажана ,1а
          p.contacs__phone (067)100-12-28
          p.contacs__phone (066)100-12-28
          p.contacs__email baribal.kiev@gmail.com
          .contacs__social
            a.contacs__link.contacs__link_instagram(href="")
            a.contacs__link.contacs__link_facebook(href="")
      .contacs__wrapper_right
        img.contacs__main_img(src="", alt="")
      .contacs__wrapper_bottom
        img.contacs__logo(src="", alt="")
