.header
  .header__container.container
    a.header__logo_wrapper(href="index.html")
      img.header__logo.header__logo_bear(src="img/logo_bear.png", alt="Logo")
      img.header__logo.header__logo_logo(src="img/logo_name.png", alt="Logo")
    .header__burger
      span.header__burger_icon
      .header__burger_wrapper
        ul.header__nav
          li.header__nav_item
            a(href="#aboutus" id="headerNav1") о нас
          li.header__nav_item
            a(href="#price" id="headerNav2") услуги
          li.header__nav_item
            a(href="#masters" id="headerNav3") мастера
          li.header__nav_item
            a(href="#gallery" id="headerNav4") портфолио
          li.header__nav_item
            a(href="#contacs" id="headerNav5") контакты
          li.header__nav_item
            a(href="https://www.baribal.kyiv.ua/blog"  id="headerNav6") Блог
          li.header__nav_item
            a(href="https://www.baribal.kyiv.ua/blog/shop/"  id="headerNav7") Магазин
          li.header__nav_item
            a(href="https://baribal.kyiv.ua/blog/ru/rabota-v-barbershope-baribal/"  id="headerNav8") Работа
        .header__phones
          p.header__phone
            a(href="tel:+380671001228") (067)100-12-28
          p.header__phone
            a(href="tel:+380661001228") (066)100-12-28
        .header__social
          a.header__social_instagram(href="https://www.instagram.com/baribal_barbershop/?igshid=1dbmyo8drnayu" target="_blank")
            svg(viewBox="0 0 512 512.00006" width='24' height='24')
              use(xlink:href="#instagram2")
          a.header__social_facebook(href="https://www.facebook.com/baribal.barbershop20" target="_blank")
            svg(viewBox="0 0 155.139 155.139" width='24' height='24')
              use(xlink:href="#facebook2")
        .header__language
          button.header__language_ru.header__language_active(id='ru') RU
          span &nbsp;/&nbsp;
          button.header__language_ua(id='ua') UA
          span.header__language--slash &nbsp;/&nbsp;
          button.header__language_en(id='en') EN
