.header
  .header__container
    .header__logo_wrapper
      img.header__logo_bear(src="", alt="")
      img.header__logo_logo(src="", alt="")
    ul.header__nav
      li.header__nav_item
        a(href="") о нас
      li.header__nav_item
        a(href="") услуги
      li.header__nav_item
        a(href="") мастера
      li.header__nav_item
        a(href="") портфолио
      li.header__nav_item
        a(href="") контакты
    .header__phone
      p.header__phone (067)100-12-28
      p.header__phone (067)100-12-28
    .header__social
      a.header__social.header__social_instagram(href="")
        img(src="", alt="")
      a.header__social.header__social_facebook(href="")
        img(src="", alt="")