section.main
  .main__bg_img_wrapper
    h1.main__title.js_main_title
  .main__bg_video
    .main__video_logo_wrapper
      img.main__video_logo_bear(src="img/logo_bear.png", alt="")
      img.main__video_logo_logo(src="img/logo_name.png", alt="")
    video.main__video
      source(media="(min-width: 1920px)", srcset="", type="video/mp4")
      source(src='' type='video/mp4')
  //- .main__wrapper