section.main
  //- .main__bg_img_wrapper
  .main__bg_video
    h1.main__title.js_main_title
    //- span.visually-hidden(id="videoText" data-change='false') Качество. надежность. профессионализм. результат.
    video.main__video(autoplay muted loop playsinline )
      source(src="video/barber_31.mp4" type="video/mp4")
      source(src="video/barber_31.mov" type="video/mov")
