section.masters
  .masters__container
    h2.masters__title.title мастера
    ul.masters__list.master
      li.master__item
        h3.master__name Сергей Обуховский
        p.master__position Сергей Обуховский
        img.master__photo.a.masters__link(src="", alt="")
        p.master__text Лучший путь к успеху — это влюбиться в то, что ты делаешь.
      li.master__item
        h3.master__name Сергей Борщик
        p.master__position Барбер
        img.master__photo.a.masters__link(src="", alt="")
        p.master__text Всякое дело совершенствуется овладением техники. Всякий навык достигается упражнением.