mixin review(master)
  .master__item
    .master__inner_wrapper
      h3.master__name(id= 'masterName' + master.id)!= master.name
      p.master__position(id= 'masterPosition' + master.id)!= master.position
      .master__photo_wrapper
        img.master__photo(src="img/" + master.img, alt='' + master.name)
        a.master__link(href= master.link target="_blank" title='Записаться к мастеру')
      p.master__text(id= 'masterText' + master.id)!= master.description
-
  const mastersArray = [
    {
      name: 'Сергей Обуховский',
      position: 'Арт директор',
      img: 'master_01.jpg',
      link: 'https://n447728.yclients.com/company:424409?o=m1246276',
      description: 'Лучший путь к успеху — это влюбиться в то, что ты делаешь.',
      id: '1'
    },
    //- {
    //-   name: 'Сергей Борщик',
    //-   position: 'Барбер',
    //-   img: 'master_02.jpg',
    //-   link: 'https://n447728.yclients.com/company:424409?o=m1390297',
    //-   description: 'Всякое дело совершенствуется овладением техники. Всякий навык достигается упражнением.',
    //-   id: '2'
    //- },
    //- {
    //-   name: 'Александр Шапошников',
    //-   position: 'Барбер',
    //-   img: 'master_03.jpg',
    //-   link: 'https://n447728.yclients.com/company:424409?o=m1276364',
    //-   description: 'Мастера определяет способность с виду легко делать сложные вещи.',
    //-   id: '3'
    //- },
    {
      name: 'Жук-Шахрай Марина',
      position: 'Барбер',
      img: 'master_04.jpg',
      link: 'https://n447728.yclients.com/company:424409?o=m1386329',
      description: 'Профессионал — тот, кто чувствует работу душой.',
      id: '4'
    },
    {
      name: 'Вячеслав Попов',
      position: 'Барбер',
      img: 'master_05.jpg',
      link: 'https://n447728.yclients.com/company:424409?o=m1477857',
      description: 'Техника выполнения - это один из инструментов в работе мастера.',
      id: '5'
    },
  ]



section.masters#masters
  .masters__container.container
    h2.masters__title.title(id="mastersTitle") мастера
    .masters__list.master
      each master in mastersArray
        +review(master)
