section.masters#masters
  .masters__container.container
    h2.masters__title.title мастера
    ul.masters__list.master
      li.master__item
        h3.master__name Сергей Обуховский
        p.master__position Арт директор
        .master__photo_wrapper
          img.master__photo(src="img/master_01.jpg", alt="Сергей Обуховский")
          a.master__link(href="https://n447728.yclients.com/company:424409?o=m1246276" target="_blank" title='Записаться к мастеру')
        p.master__text Лучший путь к успеху — это влюбиться в то, что ты делаешь.
      li.master__item
        h3.master__name Сергей Борщик
        p.master__position Барбер
        .master__photo_wrapper
          img.master__photo(src="img/master_02.jpg", alt="Сергей Борщик")
          a.master__link(href="https://n447728.yclients.com/company:424409?o=m1246328" target="_blank" title='Записаться к мастеру')
        p.master__text Всякое дело совершенствуется овладением техники. Всякий навык достигается упражнением.