section.price#price
  .price__container.container
    h2.price__title.title Услуги
    ul.price__list
      li.price__item
        p.price__name мужская стрижка
        p.price__price 400
      li.price__item
        p.price__name стрижка машинкой
        p.price__price 300
      li.price__item
        p.price__name детская стрижка
        p.price__price 300
      li.price__item
        p.price__name стрижка бороды
        p.price__price 250
      li.price__item
        p.price__name стрижка бороды с опасной бритвой
        p.price__price 300
      li.price__item
        p.price__name комплекс
        p.price__price 650
      li.price__item
        p.price__name комплекс
        p.price__price 600
      li.price__item
        p.price__name укладка
        p.price__price 150