section.price#price
  .price__container.container
    h2.price__title.title(id="priceTitle") Услуги
    ul.price__list
      li.price__item
        a.price__name(id="priceName1" href="muzhskaya_strizhka.html") мужская стрижка
        p.price__price 400
      li.price__item
        a.price__name(id="priceName2" href="strizhka_mashinkoy.html") стрижка машинкой
        p.price__price 300
      li.price__item
        a.price__name(id="priceName3" href="detskaya_strizhka.html") детская стрижка
        p.price__price 300
      li.price__item
        a.price__name(id="priceName4" href="strizhka_borody.html") стрижка бороды
        p.price__price 250
      li.price__item
        a.price__name(id="priceName5" href="strizhka_borody_s_ispolzovaniem_opasnoy_britvy.html") стрижка бороды с опасной бритвой
        p.price__price 300
      li.price__item
        a.price__name(id="priceName6" href="kompleks.html") комплекс
        p.price__price 650
      li.price__item
        a.price__name(id="priceName7" href="otec_syn.html") отец + сын
        p.price__price 600
      li.price__item
        a.price__name(id="priceName8" href="ukladka.html") укладка
        p.price__price 150
      li.price__item
        a.price__name(id="priceName9" href="kamuflirovanie_sediny.html") Камуфлирование седины
        p.price__price 300
      li.price__item
        a.price__name(id="priceName10") Black mask
        p.price__price 300
