html,
body {
  min-width: 320px;
}

body {
  font-family: $main-font;
  font-size: 16px;
  font-weight: 300;
  &.baribal {
    color: #fff;
    background: #000;
  }
  &.service {
    color: #000;
    background: #fff;
  }
}
html{
  overflow-x: hidden;
}
img {
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

svg {
  overflow: hidden;
}

button {
  display: block;
  padding: 0;
}

.no_scroll {
  @include r(1023) {
    height: 100vh;
    overflow: hidden;
  }
}


.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 5px;
  padding-right: 35px;

  @include rm(480) {
    width: 480px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @include rm(640) {
    width: 640px;
    padding-left: 55px;
    padding-right: 55px;
  }

  @include rm(768) {
    width: 768px;
    padding-left: 65px;
    padding-right: 65px;
  }

  @include rm(1024) {
    width: 1024px;
    padding-left: 70px;
    padding-right: 70px;
  }

  @include rm(1220) {
    width: 1220px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

.title {
  font-family: $title-font;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  @include rm(480) {
    font-size: 24px;
  }

  @include rm(640) {
    font-size: 28px;
  }

  @include rm(768) {
    font-size: 32px;
  }

  @include rm(1024) {
    position: relative;
    font-size: 36px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    &::after {
      position: absolute;
      content: '';
      width: 100px;
      height: 1px;
      left: calc(50% - 50px);
      bottom: 0;
      background: #fff;
    }
  }

  @include rm(1220) {
    font-size: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}

.text-bold {
  font-weight: 700;
}

.text-black {
  font-weight: 900;
}

.text-nowrap {
  white-space: nowrap;
}


br {
  line-height: 1;
  font-size: 0;
}

.btn {
  font-family: $serif-font;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid #bb1d00;

  &:hover,
  &:focus,
  &:active {
    color: #bb1d00;
    border-color: #fff;
  }
  &:active {
    background: #0f0f0f;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);

  clip: rect(0 0 0 0);
  overflow: hidden;
}
