$color-variable-example: crimson;
$text-cariable-example: "All Hail The Crimson King";

$main-font: 'Noteworthy', Arial, Helvetica, sans-serif;
$title-font: 'Playfair Display', "Times New Roman", Georgia, serif;
$serif-font: 'PT Sans', Arial, Helvetica, sans-serif;

